.todo{
  background-color: lavender;
}

.about-heading, .task-details-heading{
  display: flex;
  padding: 3% 0 2% 0;
  text-align: center;
  background-color: lavender;
  border-bottom: 0.5px solid darkviolet;
}

.abt-head, .td-head{
  padding-left: 3%;
}

.abt-back{
  margin-left: 73%;
}

.about-content{
  padding: 3% 4% 0 4%;
  font-size: x-large;
}

.link-about:hover, .back-button:hover, .view:hover{
  color: white;
}

.link-about, .back-button, .view{
  text-decoration: none;
}

#app-header{
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 4%;
  display: flex;
}

.about-page{
  margin-left: 80%;
}

#list-option{
  padding: 2% 0 1% 0;
}

.add-task{
  padding-top: 6%;
}

.hori-line{
  color: darkviolet;
}

.add-show-task{
  display: flex;
  justify-content: space-between;
}

.task-form{
  flex: 1;
}

.task-form-header{
  padding-bottom: 3%;
}

.add-data{
  padding: 10% 2% 8% 3%;
  margin-right: 2%;
}

.btn-delete, .btn-view{
  margin-left: 2%;
}

.fetched-data{
  border: 2px solid lavender;
  margin-bottom: 2%;
  margin-right: 3%;
  padding-top: 4%;
  padding-left: 6%;
}

.form-data{
  padding-bottom: 2%;
}